.header{
    border:1px solid black;
    display:flex;
    justify-content: space-between;
    
}
.navbar-items>ul{
    display:flex;
    list-style-type:none;
    padding-top:10px;
}
.navbar-items>ul>li{
    padding:0px 20px;
    
}
#logo{
    width:80px;
    height:80px;
}



/*Body style*/
.search-box{
    margin:50px;
    display: flex;
    justify-content: center;
    
}
.search-bar{
    height:50px;
    width:50%;
    
}

.restaurant-container{
    display:flex;
    flex-wrap:wrap;
    
}


.restaurant-card{
    margin:5px;
    background-color:cornsilk;
    
   
    width:250px;
}

.restaurant-card:hover{
    border:1px solid black;
    cursor: pointer;
}

.restaurant-img{
    height:50%;
    width:100%;
}

.top-rated-btn{
    width:100px;
    height:55px;
    
}
.top-rated-btn-container{
    margin:0px 10px;
}
.all-restaurants-btn{
    width:100px;
    height:55px;
    
}

.all-restaurants-btn:hover{
    cursor:pointer;
    background-color: #d54f1fcf;
    color:white;
}
.top-rated-btn:hover{
    cursor:pointer;
    background-color: #d54f1fcf;
    color:white;
    
}

